@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;

}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    /* position: sticky; */
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* bottom */

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url('bg.jpg');
    background-size: cover;

}

.bottom {
    position: sticky;
    background-color: black;
    color: white;
    height: 130px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

#range {
    width: 75vw;

}

.songitem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

}
.timestmp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
#play-btn{
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
}

#cover{
    width: 50px;
    margin: 0 23px;
    border-radius: 50%;
}
.songlist h1{
    margin-bottom: 18px;
    color: palegreen;
}
.song-container{
    margin-top: 40px;
}
.song-info{
    position: absolute;
    left: 12vw;
}
.song-info img{
    width: 60px;
    height: 30px;
    /* opacity: 0;
    transition: opacity is ease-in; */ 
    /* use opacity and transition effect when user click on play button / this part is for kajascript */
}